@using Microsoft.AspNetCore.Identity
@model TestPostgrasql.Models.ChangeRolesModel
@{
	Layout = "_AuthorizeLayout";
	ViewData["Title"] = "Управлениями пользователями";
}



<h2>Изменение ролей для пользователя @Model.Email</h2>
 
<form asp-controller="User"  asp-action="ChangeRoles" method="post">
    <input type="hidden" name="email" value="@Model.Email" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>